.leaderboard {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
            
	.main-table {
		max-width: 800px;
		margin-left: 40px;
	}

	.header {
		font-size: 30px;
		margin-left: 40px;
		margin-bottom: 20px;
		display: inline-block;
	}
}