.voting-page {

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

    .voting-game {
        margin-left: 40px;
        width: 500px;

        .header {
            font-size: 30px;
            margin: 10px 0;
            display: inline-block;
        }

        .body {

        }

        .voting-booth {
            display: inline-block;
            float: right;

            .voting-body {
                text-align: center;

                .check-box {
                    text-align: center;
                    line-height: 100%;
                }
            }
        }
    }
}